*.pkl
*.csv
*.log
*.pdf
!cns_original.pkl
!analysis_res/CRC/CNE/*.pdf
!analysis_res/HLT/CNE/*.pdf
!analysis_res/T2D/CNE/*.pdf
!cn/CRC/CNE/*.pkl
!cn/CRC/CNE/*.log
!cn/HLT/CNE/*.pkl
!cn/CRC/CNE/*.log
!cn/T2D/CNE/*.pkl
!cn/CRC/CNE/*.log
**/__pycache__
**/.DS_Store
.ipynb_checkpoints